*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
.container{
    padding: 30px 150px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.orange-text{
    color: #FF5400;
}
.company-name{
    font-size: 36px;
    font-weight: 800;
}
nav > ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 40px;
}
nav ul li:nth-last-child(1){
    margin-right: 0;
}
nav ul li a{
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
}
nav ul li a:hover{
    color: #FF5400;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(Images/banner.png);
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
}
.banner-title{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    width: 70%;
}
.banner-text{
    margin: 0 auto;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    width: 70%;
}
.search-section{
    width: 80%;
    height: 85px;
    margin: 50px  0;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);

    color: rgba(19, 19, 24, 0.50);
    /* text-align: center; */
    font-size: 16px;
    font-weight: 400;

    /* justify-content: space-around; */
}
.user-form input, select{
    height: 50px;
    width: 180px;
    border-radius: 8px;
    background: #FFF;

    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    margin-right: 20px;
}
.user-form button{
    cursor: pointer;
    height: 50px;
    width: 180px;
    border-radius: 8px;
    background: #FF5400;
    border: 0;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}
.tours{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
}
.popular-tours-content{
    text-align: justify;
}
.popular-tours-content h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}
.popular-tours-content p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}
.popular-tours-content ul{
    padding: 0px 15px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}
.popular-tours-content button{
    border-radius: 8px;
    background: #FF5400;
    padding: 15px 35px;
    border: 0;
}
.popular-tours-content button a{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}
.destination{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.destination-title{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}
.destination-text{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    width: 70%;
    margin-bottom: 50px;
}

.row1{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin-bottom: 50px;
}
.row2{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin-bottom: 50px;
}
.row3{
    display: flex;
    /* gap: 24px; */
    justify-content: space-between;
    margin-bottom: 50px;
}
.row3 img :first-child{
    width: 40px;
}
.row3 img {
    width: 600px;
}
.choose-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.choose-us .choose-title{
    width: 80%;
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}
.choose-us .choose-text{
    width: 60%;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.card{
    height: 50%;
    width: 100%;
    margin: 25px auto;
    display: flex;    
    /* gap: 100px; */
    justify-content: space-between;
    /* padding: 50px; */
    gap: 100px;
}
.card img{
    margin-bottom: 30px;
}
.card h3{
    margin-bottom: 15px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}
.card p{
    color: #5A5A5D;
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
}
.content1{
    padding: 50px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.content2{
    padding: 50px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.content3{
    width: 50%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}


.perfect-place{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
}
.perfect-place h2{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 25px;
}
.perfect-place p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
    text-align: justify;
}
.perfect-place ul{
    padding: 0px 25px;
}
.perfect-place ul li{
    color: #131318;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 15px;
}
.perfect-place button{
    border-radius: 8px;
    background: #FF5400;
    padding: 15px 35px;
    border: 0;
}
.perfect-place button a{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 800;
}
.newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px; */
}
.newsletter h3{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 15px;
}
.newsletter p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}
.newsletter-content{
    padding: 40px;
    border-radius: 16px;
    border: 1px solid #FF5400;
}
.newsletter-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.newsletter-form input{
    width: 100%;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}
hr{
    background: rgba(19, 19, 24, 0.10);
    width: 80%;
    margin: 20px auto;
}
footer{
    padding: 110px 0px;
    background: rgba(19, 19, 24, 0.05);
}
footer p{
    padding: 15px;
    text-align: center;
}
footer a .social-image{
    display: block;
    margin: 0 auto;
    padding: 30px;
}
.right-reserved{
    color: #131318;
    font-size: 16px;
    font-weight: 300;
}


/* RESPONSIVE START HERE */
@media screen and (max-width : 600px) {
    .container{
        padding: 30px 20px;
        margin: 0 auto;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .logo-section {
        margin-bottom: 40px;
    }
    .banner{
        height: 100%;
        width: 100%;
        padding: 32px 24px;
    }
    .banner-title{
        font-size: 22px;
        margin-bottom: 15px;
    }
    .banner-text{
        margin-bottom: 15px;
    }
    .search-section{
        height: 100%;
        margin: 0 auto;
    }
    .user-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .user-form input, select{
        margin-bottom: 15px;
    }
    .tours{
        display: flex;
        flex-direction: column;        
    }
    .destination-image .row3 img{
        display: flex;
        flex-direction: column;
    }

    .row1, .row2, .row3{
        display: flex;
        flex-direction: column;   
        margin: 20px auto;     
    }
    .row1, .row2, .row3 img{
        height: 300px;
        width: 500px;
    }
    .row2{
        margin-bottom: 620px;
    }
    .row3{
        margin-bottom: 30px;
    }
    .row3 img{
        margin-bottom: 20px;
    }
    .card{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .content3{
        width: auto;
    }
    .perfect-place{
        display: flex;
        flex-direction: column;
    }
    .perfect-place-image img{
        width: 500px;
        height: 300px;
    }
    .newsletter{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .newsletter-image img {
        width: 500px;
        height: 300px;
    }
    footer p{
        padding: 15px 50px;
        text-align: center;
    }
}